<!-- NOTE: implementation without using Ionic components (ion-header and ion-content)  -->
<div class="nav-header">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
  </ion-buttons>

  <span>Weave Menu</span>
</div>

<!-- Embed Weave online ordering component -->
<weave-ordering display-items="product" [location]="locationID" user-phone="7305554321"></weave-ordering>

<!-- NOTE: implementation using Ionic components and "stickTo" attribute -->
<!-- <ion-header id="nav-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>

    <ion-title>Weave Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <weave-ordering display-items="product" [location]="locationID" stickTo="#nav-header"
    user-phone="7305554321"></weave-ordering>
</ion-content> -->